/*! Sensible defaults, mostly based on h5bp */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/**
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/**
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/**
 * Russian quotes. http://bit.ly/19KbJcK
 */

html:lang(ru) q {
  quotes: "\00AB" "\00BB" "\201E" "\201C";
}

body {
  font-family: font-verdana;
  font-size: base-font-size;
  line-height: base-line-height;
  color: base-color;
  background-color: #fff;
}

button,
input,
select,
textarea {
  color: base-color;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #ccc;
  margin: 1em 0;
  padding: 0;
}

a {
  link-colors(blue, lighten(blue, 30%));
}
