/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.is-hidden {
  display: none !important;
  visibility: hidden;
}

if responsive {
  @media breakpoint-palm {
    .is-hidden--palm {
      display: none !important;
      visibility: hidden;
    }
  }

  @media breakpoint-lap {
    .is-hidden--lap {
      display: none !important;
      visibility: hidden;
    }
  }

  @media breakpoint-portable {
    .is-hidden--portable {
      display: none !important;
      visibility: hidden;
    }
  }

  @media breakpoint-desk {
    .is-hidden--desk {
      display: none !important;
      visibility: hidden;
    }
  }
}

/**
 * Hide visually and from screenreaders, but maintain layout
 */

.is-invisible {
  visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.is-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
