.test {
  position: relative;
}
.test:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  content: ' ';
  border: solid transparent;
  margin-left: -20px;
  border-bottom-color: #fff;
  border-width: 20px;
}
.test2 {
  position: relative;
}
.test2:after {
  position: absolute;
  left: 100%;
  top: 60%;
  content: ' ';
  border: solid transparent;
  margin-top: -30px;
  border-left-color: #eee;
  border-width: 30px;
}
.test2:before {
  position: absolute;
  left: 100%;
  top: 60%;
  content: ' ';
  border: solid transparent;
  margin-top: -32px;
  border-left-color: rgba(170,170,170,0.5);
  border-width: 32px;
}
