.test p {
  margin-bottom: 1em;
}
.test ul,
.test ol {
  margin: 1em 2em;
  list-style: disc;
}
.test ol {
  list-style: decimal;
}
.test blockquote {
  margin: 1em 2em;
}
.test table {
  width: 100%;
}
.test table td {
  border: 1px solid #ccc;
  padding: 5px;
}
