/**
 * For grunt-spritesmith
 * Adds rules for both @1x and @2x
 */

sprite-2x($sprite, $sprite_2x) {
  sprite($sprite);

  +mq('hdpi') {
    spriteImage($sprite_2x);
    background-size: $sprite[6] $sprite[7];
  }
}
