georgia = Georgia, Cambria, "Times New Roman", Times, serif;
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif;
lucida-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
monospaced = Consolas, Menlo, "Bitstream Vera Sans Mono", Courier, monospace;
verdana = Verdana, Geneva, sans-serif;

/*!==========================================================================
   Layers
   ========================================================================== */

/*!
   Base layer
   ========================================================================== */

@import 'lib';
@import 'partials/base';
@import 'partials/print';

/*!
   Layout layer
   ========================================================================== */

@import 'partials/layout';

/*!
   Objects layer
   ========================================================================== */

@import 'lib/objects/media';
@import 'lib/objects/flag';

/*!
   Blocks layer
   ========================================================================== */

@import 'partials/sprites';
@import 'partials/blocks';

/*!
   States layer
   ========================================================================== */

@import 'partials/state';


/*!==========================================================================
   Miscellaneous
   ========================================================================== */

@import 'partials/shame';
