georgia = Georgia, Cambria, "Times New Roman", Times, serif;
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif;
lucida-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
monospaced = Consolas, "Bitstream Vera Sans Mono", Courier, monospace;
verdana = Verdana, Geneva, sans-serif;

base-font-size = 14px;
base-line-height = 18px;
base-font-family = verdana;
base-text-color = #222;

@import "lib/functions";
@import "lib/mixins";
@import "lib/placeholders";

/*!==========================================================================
   Layers
   ========================================================================== */

/*!
   Base layer
   ========================================================================== */

@import "lib/base/reset";
@import "lib/base/normalize";
@import "partials/base";
@import "partials/print";

/*!
   Layout layer
   ========================================================================== */

@import "partials/layout";

/*!
   Objects layer
   ========================================================================== */

@import "lib/objects/media";
@import "lib/objects/flag";

/*!
   Blocks layer
   ========================================================================== */

@import "partials/blocks";

/*!
   States layer
   ========================================================================== */

@import "partials/state";


/*!==========================================================================
   Miscellaneous
   ========================================================================== */

@import "partials/shame";
