ie7 ?= false;
responsive ?= true;

font-georgia = Georgia, Cambria, "Times New Roman", Times, serif;
font-helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif;
font-lucida-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
font-verdana = Verdana, Arial, sans-serif;
font-arial = Arial, Verdana, sans-serif;
font-tahoma = Tahoma, Verdana, Arial, sans-serif;
font-monospaced = Consolas, Menlo, "Bitstream Vera Sans Mono", Courier, monospace;

base-font-size = 0.875em; // 14px
base-line-height = 1.4;
base-color = #222;

breakpoint-palm = 'only screen and (max-width: 568px)';
breakpoint-lap = 'only screen and (min-width: 569px) and (max-width: 1023px)';
breakpoint-portable = 'only screen and (max-width: 1023px)';
breakpoint-desk = 'only screen and (min-width: 1024px)';

grid-gutter-width = 20px;
