ie7 = false;

var-georgia = Georgia, Cambria, "Times New Roman", Times, serif;
var-helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif;
var-lucida-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
var-verdana = Verdana, Arial, sans-serif;
var-arial = Arial, Verdana, sans-serif;
var-monospaced = Consolas, Menlo, "Bitstream Vera Sans Mono", Courier, monospace;

var-default-font-size = 0.875em; // 14px
var-default-line-height = 1.4;
var-default-color = #222;
