/**
 * Button object
 *
 * E.g.:
 *
 *    <button class="btn btn--fit">Button</button>
 *    <input class="btn" type="submit" disabled>
 *    <a href="" class="btn btn--fit btn--disabled">Button</a>
 */

.btn {
  display: inline-block;
  padding: 0 1em;
  line-height: 2;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  &, &:hover {
    text-decoration: none;
  }
  if ie7 {
    .is-ie7 & {
      display: inline;
      zoom: 1;
    }
  }
}

.btn--fit {
  width: 100%;
}

.btn--disabled, .btn[disabled] {
  cursor: not-allowed;
}
