/**
 * Button object
 *
 * E.g.:
 *
 *    <button class="btn btn--full">Button</button>
 */

.btn {
  display: inline-block;
  padding: 0 1em;
  line-height: 2;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  &, &:hover {
    text-decoration: none;
  }
  if ie7 {
    .is-ie7 & {
      display: inline;
      zoom: 1;
    }
  }
}

.btn--fit {
  width: 100%;
  text-align: center;
}

.btn--disabled, .btn[disabled] {
  cursor: not-allowed;
}
