/**
 * Responsive grid object
 * E.g.: http://cssdeck.com/labs/icu6imy2
 */

.l-grid {
  display: block;
  clear: both;
  clr();
  &__item {
    float: left;
    width: 100%;
    padding: (grid-gutter-width / 2);

    &:first-child {
      padding-left: grid-gutter-width;
    }
    &:last-child {
      padding-right: grid-gutter-width;
    }

    & &:first-child {
      padding-left: 0;
    }
    & &:last-child {
      padding-right: 0;
    }
    & .l-grid > & {
      padding-bottom: 0;
    }

    @media screen and (max-width: grid-mobile-breakpoint) {
      width: 100% !important;
      padding-left: grid-gutter-width;
      padding-right: grid-gutter-width;
      & .l-grid & {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.l-grid--nogut > .l-grid__item,
.l-grid__item--nogut {
  padding: 0 !important;
}

.l-grid--whole {
  width: 100%;
}

.l-grid--half {
  width: 50%;
}

.l-grid--one-third {
  width: 33.3332%;
}

.l-grid--two-thirds {
  width: 66.6665%;
}

.l-grid--one-quarter {
  width: 25%;
}

.l-grid--three-quarters {
  width: 75%;
}

.l-grid--one-fifth {
  width: 20%;
}

.l-grid--two-fifths {
  width: 40%;
}

.l-grid--three-fifths {
  width: 60%;
}

.l-grid--four-fifths {
  width: 80%;
}

.l-grid--golden-small {
  width: 38.2716%;
}

.l-grid--golden-large {
  width: 61.7283%;
}
