/**
 * Nav object
 *
 * E.g.:
 *
 *    <ul class="nav [nav--[stacked|fit]]">
 *        <li class="nav__item"><a href="#"></a></li>
 *        <li  class="nav__item"><a href="#"></a></li>
 *    </ul>
 */

.nav {
  &__item {
    &, > a {
      display: inline-block;
    }
  }
}

.nav--stacked {
  &__item {
    display: list-item;
    > a {
      display: block;
    }
  }
}

.nav--fit {
  display: table;
  width: 100%;
  &__item {
    display: table-cell;
    > a {
      display: block;
    }
  }
}
