/**
 * Widths object
 *
 * E.g.:
 * <div class="one-quarter palm--two-thirds lap--one-third"></div>
 */

widths = (one-whole 100%), (one-half 50%),
(one-third 33.333%), (two-thirds 66.666%),
(one-quarter 25%), (three-quarters 75%),
(one-fifth 20%), (two-fifths 40%), (three-fifths 60%), (four-fifths 80%),
(one-sixth 16.666%), (five-sixths 83.333%),
(one-eighth 12.5%), (three-eighths 37.5%), (five-eighths 62.5%), (seven-eighths 87.5%),
(one-tenth 10%), (three-tenths 30%), (seven-tenths 70%), (nine-tenths 90%),
(one-twelfth 8.333%), (five-twelfths 41.666%), (seven-twelfths 58.333%), (eleven-twelfths 91.666%);

for key in widths {
  .{key[0]} {
    width: key[1];
  }

  // offsets
  .offset-{key[0]} {
    margin-left: key[1];
  }
}

if responsive {
  breakpoints = ('palm' 'lap' 'portable' 'desk' 'wide');

  for breakpoint in breakpoints {
    +mq(breakpoint) {
      for key in widths {
        .{breakpoint}--{key[0]} {
          width: key[1];
        }

        // offsets
        .{breakpoint}--offset-{key[0]} {
          width: key[1];
        }
      }
    }
  }
}
