.test {
  +mq('palm') {
    width: 10px;
  }

  +mq('lap') {
    width: 20px;
  }

  +mq('portable') {
    width: 30px;
  }

  +mq('desk') {
    width: 40px;
  }

  +mq('wide') {
    width: 50px;
  }

  +mq('hdpi') {
    width: 60px;
  }

  +mq('max-width: 329px') {
    width: 5px;
  }

  +mq('(max-width: 329px)') {
    width: 5px;
  }
}
