.test {
  font-size: rem(18px);
  width: rem(400px);
  box-shadow: 0 0 rem(7px) rgba(0, 0, 0, .1);
}

.test-without-fallback {
  font-size: rem(18px, false);
  width: rem(400px, false);
  box-shadow: 0 0 rem(7px, false) rgba(0, 0, 0, .1);
}
