/**
 * Styles for user generated content
 */

user-content() {
  p {
    margin-bottom: 1em;
  }
  ul, ol {
    margin: 1em 2em;
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  blockquote {
    margin: 1em 2em;
  }
  table {
    width: 100%;
    td {
      border: 1px solid #ccc;
      padding: 5px;
    }
  }
}
