/**
 * Selector helper for emiting headings
 *
 * {headings()} {}
 * -> h1, h2, h3, h4, h5, h6 {}
 * {headings(2)} {}
 * -> h1, h2 {}
 * {headings(2,5)} {}
 * -> h2, h3, h4, h5 {}
 */
headings(from = 1, to = 6) {
  result = '';

  for i in (from..to) {
    result = result + 'h' + i;

    unless i == to {
      result = result + ', ';
    }
  }

  return result;
}
