/**
 * Custom reset
 */
{headings()},
p, blockquote, figure,
pre, hr,
ul, ol, dl, dd,
fieldset,
table {
  margin: 0 0 rem(default-font-size * base-line-height);
  padding: 0;
  border: 0;
}

menu {
  margin: 0;
  padding: 0;
}

ul, ol, menu {
  list-style: none;
}

table {
  width: 100%;
}
