/*! Custom reset */

{headings()},
p, blockquote, figure,
pre, hr,
ul, ol, dl, dd,
fieldset,
table, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

{headings()},
p, blockquote, figure,
pre, hr,
ul, ol, dl,
fieldset,
table {
  margin-bottom: rem(default-font-size * base-line-height);
}

ol, ul {
  list-style: none;
}

table {
  width: 100%;
}
